application/web/DocumentRoot/temporary/*.jpg

application/web/DocumentRoot/temporary/cache/**
!application/web/DocumentRoot/temporary/cache/.gitkeep

application/web/DocumentRoot/temporary/log/**
!application/web/DocumentRoot/temporary/log/.gitkeep

application/web/DocumentRoot/temporary/scaffold/**
!application/web/DocumentRoot/temporary/scaffold/.gitkeep

application/web/DocumentRoot/temporary/session/**
!application/web/DocumentRoot/temporary/session/.gitkeep

application/data/**

application/web/logs/apache2/**

terraform/prod/.terraform
terraform/dev/.terraform
/vendor/
vendor/cilex/cilex/.gitignore
vendor/cilex/cilex/.travis.yml
vendor/cilex/cilex/composer.json
vendor/cilex/cilex/composer.lock
vendor/cilex/cilex/example.php
vendor/cilex/cilex/LICENSE
vendor/cilex/cilex/phpunit.xml.dist
vendor/cilex/cilex/README.md
vendor/cilex/cilex/Vagrantfile
vendor/cilex/cilex/.puppet/manifests/manifest.pp
vendor/cilex/cilex/bin/compile
vendor/cilex/cilex/docs/conf.py
vendor/cilex/cilex/docs/index.rst
vendor/cilex/cilex/docs/Makefile
vendor/cilex/cilex/docs/usage.rst
vendor/cilex/cilex/docs/.static/logo.png
vendor/cilex/cilex/src/Cilex/Application.php
vendor/cilex/cilex/src/Cilex/Compiler.php
vendor/cilex/cilex/src/Cilex/ServiceProviderInterface.php
vendor/cilex/cilex/src/Cilex/Command/Command.php
vendor/cilex/cilex/src/Cilex/Command/DemoInfoCommand.php
vendor/cilex/cilex/src/Cilex/Command/GreetCommand.php
vendor/cilex/cilex/src/Cilex/Provider/ConfigServiceProvider.php
vendor/cilex/cilex/src/Cilex/Provider/DoctrineServiceProvider.php
vendor/cilex/cilex/src/Cilex/Provider/MonologServiceProvider.php
vendor/cilex/cilex/src/Cilex/Provider/ValidatorServiceProvider.php
vendor/cilex/cilex/tests/Cilex/Tests/ApplicationTest.php
vendor/cilex/cilex/tests/Cilex/Tests/Command/CommandTest.php
vendor/cilex/cilex/tests/Cilex/Tests/Provider/ConfigServerProviderTest.php
vendor/cilex/cilex/tests/Cilex/Tests/Provider/ValidatorServiceProviderTest.php
vendor/cilex/cilex/tests/data/config-invalid.json
vendor/cilex/cilex/tests/data/config.json
vendor/cilex/cilex/tests/data/config.php
vendor/cilex/cilex/tests/data/config.unknownfiletype
vendor/cilex/console-service-provider/.gitignore
vendor/cilex/console-service-provider/composer.json
vendor/cilex/console-service-provider/composer.lock
vendor/cilex/console-service-provider/README.md
vendor/cilex/console-service-provider/src/Cilex/Provider/Console/BaseConsoleServiceProvider.php
vendor/cilex/console-service-provider/src/Cilex/Provider/Console/ConsoleServiceProvider.php
vendor/cilex/console-service-provider/src/Cilex/Provider/Console/ContainerAwareApplication.php
vendor/cilex/console-service-provider/src/Cilex/Provider/Console/Adapter/Silex/ConsoleServiceProvider.php

/application/web/DocumentRoot/nbproject/private/
/application/web/DocumentRoot/application/settings/database.php
/application/web/DocumentRoot/application/settings/cache.php
/application/web/DocumentRoot/application/settings/mail.php

.idea/
